* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 500px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
    border-radius: 30px;
}
